<html>
  <head>
    <title>I Can Haz</title>
  </head>
  <body>
    <%= form_tag('/')  do %>
      <%= telephone_field_tag( 'tel', '0123456789') %>
      <%= submit_tag( "I can haz number?") %>
    <% end %>
  </body>
</html>
